.about-me {
  background-color: rgb(229, 229, 229);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-box {
  margin-top: 20px;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  max-width: 950px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -9px 11px 5px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: -9px 11px 5px 0px rgba(153, 153, 153, 1);
  box-shadow: -9px 11px 10px 0px rgba(153, 153, 153, 1);
}

.about-text {
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  width: 475px;
  height: 100%;
  background-color: #ffffff;
  overflow-wrap: normal;
}

.about-text p {
  text-align: left;
  padding: 15px;
  font-size: 16px;
  line-height: 35px;
}

.about-text h2 {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  line-height: 35px;
}

.about-image {
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  height: 100%;
  width: 475px;
  background-image: url("../photo/about.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-button {
  background-color: white;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  width: 950px;
  height: 70px;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  -webkit-box-shadow: -9px 11px 5px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: -9px 11px 5px 0px rgba(153, 153, 153, 1);
  box-shadow: -9px 8px 10px 0px rgba(153, 153, 153, 1);
  border-radius: 20px;
}

.link-button:hover {
  background-color: rgb(229, 229, 229);
  transition: 1s;
}

.down-button {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  -webkit-box-shadow: -9px 11px 5px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: -9px 11px 5px 0px rgba(153, 153, 153, 1);
  box-shadow: -3px 4px 10px 5px rgba(153, 153, 153, 1);
  transition: 1s;
}

.down-button:hover {
  background-color: #ffffff8f;
  scale: 1.05;
  transition: 1s;
}

#iframe1 {
  margin: 10px;
  width: 920px;
  height: 400px;
}

#iframe2 {
  height: 450px;
  width: 950px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {
  .about-image {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 0%;
  }
  .about-text {
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 0%;
  }
}

@media only screen and (min-width: 761px) and (max-width: 960px) {
  .about-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 610px;
    height: 400px;
  }

  .about-image {
    width: 305px;
    height: 100%;
  }
  .about-text p {
    font-size: 16px;
    line-height: 24px
  }

  .link-button {
    width: 610px;
  }

  #iframe1 {
    margin: 10px;
    width: 580px;
    height: 300px;
  }

  #iframe2 {
    height: 300px;
    width: 610px;
  }
}

@media only screen and (min-width: 521px) and (max-width: 760px) {
  .about-box {
    margin-top: 20px;
    flex-direction: column;
    width: 380px;
    height: 700px;
  }

  .about-text p {
    font-size: 13px;
    line-height: normal;
  }

  .about-image {
    width: 380px;
    
  }

  .about-text {
    width: 380px;
    height: 400px;
  }

  .link-button {
    width: 380px;
    font-size: 24px;
  }
 
  #iframe1 {
    margin: 10px;
    width: 340px;
    height: 200px;
  }

  #iframe2 {
    height: 250px;
    width: 380px;
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 520px) {
  .about-box {
    margin-top: 20px;
    flex-direction: column;
    width: 280px;
    height: 600px;
  }
   
  .about-image {
    width: 280px;
  }

  .about-text {
    width: 280px;
  }

  .about-text p {
    font-size: 12px;
    line-height: normal;
  }

  .link-button {
    width: 280px;
    font-size: 16px;
  }

  #iframe1 {
    margin: 10px;
    width: 240px;
    height: 200px;
  }

  #iframe2 {
    height: 200px;
    width: 280px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */


