.ml-onclick-form {
  height: 50%;
  margin: auto 0;
  padding: 10px;
  font-size: 16px;
}

/* General Contact Section Styles */
.contact-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 229, 229);
  padding: 10px; /* Add some padding for smaller screens */
}

/* Contact Form Styles */
.contact-form {
  width: 40%;
  max-width: 500px;
  height: 60%;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
  overflow: auto; /* Ensure content fits */
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.long {
  width: 100% !important;
}

.checkMark {
  list-style-type: none;
}




/* Adjust for smaller screens */
@media only screen and (max-width: 1000px) {
  .contact-form {
    width: 80%;
    height: auto; /* Make the height dynamic */
    padding: 20px;
  }
}

/* Adjust for landscape mode on mobile devices */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .contact-section {
    flex-direction: row; /* Align items horizontally */
    justify-content: flex-start;
  }

  .contact-form {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
}