footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer h1 {
  font-size: 40px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.taisykles {
  color: black;
}

.socials a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.socials a:nth-child(1) {
  padding: 20px;
}

.socials a:hover {
  color: rgba(0, 0, 0, 0.645);
}

.ml-onclick-form {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: 1s;
}

.ml-onclick-form:hover {
  background-color: rgba(181, 176, 176, 0.992);
  cursor: pointer; 
  transition: 1s;
}

@media only screen and (min-width: 960px) and (max-width: 1171px) {
  .ml-onclick-form {
    font-size: 14px;
  }
}

@media only screen and (max-width: 960px) {
  footer h1 {
    display: none;
  }
  footer {
    flex-direction: column;
  }

  .ml-onclick-form {
    margin-top: 20px;
  }

}

@media only screen and (max-width: 520px) {
  .socials {
    display: flex;
    flex-direction: column;
  }

  .fa-tiktok {
    padding-bottom: 20px;
  }
}
