@import url("nav.css");
@import url("filter.css");
@import url("product.css");
@import url("about.css");
@import url("contact.css");
@import url("footer.css");
@import url("questions.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-container {
    display: flex;
}

.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

body {
    /*
    background-image: url("photo/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
}



  